@import '../../assets/styles/variables.scss';
@import '../../assets/styles/colors.scss';

.button {
    padding: 12px 24px;
    background-color: var(--color);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: $transition;
    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }

    &:active {
        filter: brightness(70%);
    }

    @each $key,
    $value in $colors {
        &--#{$key} {
            background-color: $value;

            &:hover {
                background-color: darken($value, 10%);
                filter: none
            }

            &:active {
                background-color: darken($value, 20%);
                filter: none
            }
        }
    }
}